html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Fira Code, serif;
  background-color: black;
  color: rgba(149, 159, 170, 0.856);
  background-image: url("../images/background.svg");
  margin: 0 auto;
  max-width: 1000px;
  width: 75%;
  min-width: 350px;
}

hr{
  border-top: none;
  border-color:rgb(224, 227, 231)
}

h1, h2, h3, h4 {
  color: white;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: white;
}



/* NAV-BAR */
.nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px 40px;
  background-color: rgb(19, 22, 22);
  border: 1px solid rgba(255, 255, 255, 0.329);
  width: 100% ;
}

.nav div {
  display: flex;
  align-items: center;
}

.nav-btn {
  background: none;
  font-family: Fira Code, serif;
  font-size: 14px;
  border: none;
  color: rgba(149, 159, 170, 0.856);
  border-radius: 5px;
  padding: 15px 25px;
  margin: 4px 2px
}

.toggle-light-img {
  display: inline;
  filter: invert(1);
  width: 30px;
  object-fit: contain;
  margin-left: 12px;
}

.light-mode:hover {
  animation: rotate-transition 1s;
}

@keyframes rotate-transition {
  0% {
    transform: rotate(0)
  }
  100% {
    transform: rotate(360deg);
    
  }
}

.icon {
  font-size: 20px;
  padding: 0 10px;
}

.highlight:hover {
  color:white;
}

.dark {
  background-color:rgb(19, 22, 22);
  border: none;
}


/* INTRO */
.intro {
  margin-top: 150px;
  margin-bottom: 50px;
  line-height: 2rem;
}

.intro-contact {
  display: flex;
  align-items: center;
}

.intro p:nth-child(2) {
  font-size: 40px;
  margin: 0;
}

.intro > div {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

.intro button {
  color:rgba(149, 159, 170, 0.856);
  font-family: Fira Code;
  background: none;
  border: 1px solid;
  padding: 5px 15px;
  border-radius: 60px;
}

.icon-lg {
  font-size: 30px;
}

.rotate {
  transition: transform .5s ease-in-out;
}

.rotate:hover {
  transform: rotate(360deg) scale(1.5);
}

.bounce {
  position: relative;
  top: 0;
}

.bounce:hover {
  animation: bouncing 2s infinite;
}

@keyframes bouncing {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0) scale(1.2);
  }
  40% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px) scale(1.2);
  }
  80% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px) scale(1.2);
  }
}

.grow {
  transition: transform .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.35);
}

.invert {
  transition: .3s;
}

.invert:hover {
  background-color: rgba(255, 255, 255, 0.76);
  color: black;
}



/* TECH STACK */
.tech-stack-section {
  display: flex;
  position: relative;
  min-height: 500px;
  margin: 50px 0;
}

.tech-header {
  text-align: left;
  margin-top: 0;
}

.outer-circle  {
  width: 360px;
  height: 360px;
  position: absolute;
  top: 0; bottom:0; left:0; right:0;
  margin: auto;
}

.circle{
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top:0; bottom:0; left:0; right:0;
  overflow: hidden;
  margin: auto;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-one{
  animation: motion-one 30s linear infinite;
}

.circle-two {
  animation: motion-two 30s linear infinite;
}

.circle-three {
  animation: motion-three 30s linear infinite;
}

.circle-four {
  animation: motion-four 30s linear infinite;
}

.circle-five {
  animation: motion-five 30s linear infinite;
}

@keyframes motion-one{
  0%{
    transform:rotate(0deg) translate(0, 165px) rotate(0deg);
  } 
  100%{
    transform:rotate(360deg) translate(0, 165px) rotate(-360deg);
  }
}
  
@keyframes motion-two{
  0%{
    transform:rotate(0deg) translate(157px, 51px) rotate(0deg);
  } 
  100%{
    transform:rotate(360deg) translate(157px, 51px) rotate(-360deg);
  }
}

@keyframes motion-three{
  0%{
    transform:rotate(0deg) translate(97px, -133.5px) rotate(0deg);
  } 
  100%{
    transform:rotate(360deg) translate(97px, -133.5px) rotate(-360deg);
  }
}

@keyframes motion-four{
  0%{
    transform:rotate(0deg) translate(-97px, -133.5px) rotate(0deg);
  } 
  100%{
    transform:rotate(360deg) translate(-97px, -133.5px) rotate(-360deg);
  }
}

@keyframes motion-five{
  0%{
    transform:rotate(0deg) translate(-157px, 51px) rotate(0deg);
  } 
  100%{
    transform:rotate(360deg) translate(-157px, 51px) rotate(-360deg);
  }
}



/* CONTACT */
.contact {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact h3 {
  margin-bottom: 0;
}

.contact p {
  margin-bottom: 50px;
}

.contact a {
  padding: 0 10px;
}

.contact-nav {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-bottom: 30px;
}

.contact-nav * {
  margin: 10px 0;
}

.contact-nav p:nth-child(3) {
  margin: 0;
  display: flex;
  justify-content: end;
}

.contact-nav-item {
  color:rgba(149, 159, 170, 0.856)
}

.arrow-right {
  display: flex;
  align-self: center;
  margin: 0 50px;
  height: 15px;
  background-image: url("../images/right-arrow.svg");
}

.arrow-move-right {
  animation: forward .8s infinite alternate;
}

@keyframes forward {
  0% {
    margin-left: -1.5rem;
  }
  100% {
    margin-left: .5rem;
  }
}


@media (max-width: 550px) {
  body {
    zoom: 80%;
  }
  .contact-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

/* FOOTER */
.footer {
  margin: 10px;
  display: flex;
  justify-content: center;;
}























/********** PROJECT PAGE **********/

/* PROJECTS */
.project {
  margin-bottom: 100px;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  grid-gap: 50px;
}

.project-header {
  margin: 150px auto 50px auto;
  text-align: center;
}

.project-container {
  position: relative;
  width: 100%;
  border: 1px solid white;
  max-height: 300px;
  max-width: 500px;
  border-radius: 10px;
  text-align: center;
  background-color: black;
}

.project-image {
  transition: .5s ease;
  width:100%;
  height:100%;
  object-fit: cover;
  border-radius: 10px;
}

.project-middle {
  transition: .5s ease-in-out;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.project-details {
  color: white;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}


.project-stacks {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  opacity: 1;
  position: absolute;
  bottom: 5px;
  width: 100%;
  justify-content: center;
}

.project-stacks > span {
  margin: 2px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 0 3px;
  background-color: black;
}

.project-container:hover .project-image {
  opacity: .3;
}
.project-container:hover .project-middle {
  opacity: 1;
}

@media (max-width: 1000px) {
  .project {
    grid-template: repeat(1, 1fr) / repeat(1, 1fr);
    zoom: 120%;
  }
  .project div {
    margin: 0 auto;
  }
}




/* EXPERIENCE */
.work {
  margin: 50px 0;
}



/* SKILLS */
.skills {
  margin: 50px 0;
}

.skills li {
  padding: 10px 0px;
  margin: 0;
}



/* CONTACT */
.contact-nav-home {
  margin: 0;
  display: flex;
  justify-content: end;
}