
/********************* TAG SELECTORS *********************/

a {
  color: #11999E;
}

a:link {
  text-decoration: none;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Sawarabi Mincho', serif;
}

h1 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  margin: 50px ;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

h4 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

hr {
    border-color: #7A86B6;
    border-style: none;
    border-top-style: dotted;
    border-width: 7px;
    width: 5%;
    margin: 100px auto 70px auto;
    opacity: 0.3;
}

/********************* CLASS SELECTORS **********************/

.about-me{
  text-align: center;
  margin: 50px 120px 30px 120px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.95rem;
}

.bottom-cloud {
  position: absolute;
  left: 29%;
  bottom: 40%;
}

.bottom-container {
  background-color: #EAF6F6;
  padding: 40px 50px 25px 50px;
}

.btn {
  border-radius: 8px;
  box-shadow: 1px 1px 5px #666666;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 15px;
  background: #3498db;
  padding: 10px 15px 10px 15px;
}

.btn:hover {
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.contact-me {
  margin: 50px 50px 80px;
}

.container-1 {
  background-color: #D3CEDF;
}

.container-2 {
  background-color: #FFE6E6;
}

.footer-copyright {
  margin: 0;
  padding: 30px 0 20px 0;
  font-size: .75rem;
}

.footer-link {
  margin: 25px;
  font-family: 'Montserrat', sans-serif;
}

.h1-work {
  margin: 0;
  padding: 50px;
}

.h1-about {
  padding: 0 50px;
  margin: 0 50px 50px 50px;
}

.image-1{
  width: 150px;
  float: left;
  margin-right: 30px;
}

.image-2{
  width: 150px;
  float: right;
  margin-left: 30px;
}

.mountain{
  position: relative;
  top: 5px;
}

.my-work {
  background-color: #EAF6F6;

}

.profile{
  padding: 50px;
  background-color: #EAF6F6;
  color: #11999E;
}

.profile-picture {
  width: 200px;
}

.skill-row {
  position: relative;
  left: 20%;
  margin: 100px 50px 175px 50px;
  width: 50%;
  text-align: left;
}

.top-cloud {
  position: absolute;
  right: 30%;
  top: 15%;
}

.top-container {
  background-color: #EAF6F6;
  padding: 150px 10px 0 10px;
  position: relative;
}
